#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active{
    font-weight: bold;
}

.btn-succes {
    background-color: limegreen;
}

.badge-succes {
    background-color: limegreen;
}

.img-fluid {
    border-radius: 15px;
}